.nav-item-padding {
    padding: 0px 30px;
    font-size: 25px;
}


/* Change the color of links on hover background, not text*/
.navbar a:hover {
    color: #ddd !important;
}


.nav-link a:hover {
    color: black !important;
}


