.nav-item-padding {
    padding: 0px 30px;
    font-size: 25px;
}


/* Change the color of links on hover background, not text*/
.navbar a:hover {
    color: #ddd !important;
}


.nav-link a:hover {
    color: black !important;
}

/*Form for signup customers */
button, input, optgroup, select, textarea {
    margin: 0 !important;
    margin-left: 50px !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}